In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
pd.read_csv('Data.txt', sep = '   ', header = None, engine='python')

       0    1    2    3    4    5    6    7    8    9
0    0.2  0.1  0.1  0.1  0.2  0.1  0.2  0.1  0.1  1.0
1    0.2  0.1  0.1  0.1  0.2  0.1  0.3  0.1  0.1  1.0
2    0.5  0.1  0.1  0.1  0.2  0.1  0.2  0.1  0.1  1.0
3    0.5  0.4  0.6  0.8  0.4  0.1  0.8  1.0  0.1  0.0
4    0.5  0.3  0.3  0.1  0.2  0.1  0.2  0.1  0.1  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
694  0.5  0.1  0.2  0.1  0.2  0.1  0.1  0.1  0.1  1.0
695  0.7  0.5  0.6  1.0  0.5  1.0  0.7  0.9  0.4  0.0
696  0.6  1.0  1.0  1.0  0.8  1.0  0.7  1.0  0.7  0.0
697  0.5  0.7  1.0  1.0  0.5  1.0  1.0  1.0  0.1  0.0
698  0.1  0.1  0.1  0.1  0.2  0.1  0.2  0.1  0.1  1.0

[699 rows x 10 columns]

In [4]:
data = pd.read_csv('Data.txt', sep = '   ', header = None, engine='python')